<!-- views/users/add-bird.hbs -->
<div class="birds">
  <img class="ui medium circular image" src="/images/pal-default-avatar.png">

  <h1 class="ui header">Edit Bird</h1>

  <form class="ui massive form" action="/birds/edit/{{bird._id}}" method="POST">

    {{!-- <div class="field">
      <input type="text" name="_id" value={{this._id}}>
    </div> --}}

    <div class="field">
      <input type="text" name="name" value="{{bird.name}}" placeholder="Enter the name of your bird">
    </div>

    <div class="field">
      <input type="text" name="color" value="{{bird.color}}" placeholder="new color">
    </div>

    <div class="field">
      <input type="date" name="new dob" value="{{bird.dob}}">
    </div>

    <div class="field">
      <input type="number" name="catches" value="{{bird.catches}}" placeholder="how many catches">
    </div>

    <div class="field">
      <a href="/users/dashboard">Go Back</a>
    </div>

    <button id="bot-edit-bird" class="ui massive button" type="submit">Submit</button>
  </form>

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}

</div>
