<div class="birds">
  {{!-- {{#foreach foundBird}} --}}
  <img class="ui medium circular image" src={{bird.profilePic}}>
  <h1>Name: {{bird.name}}</h1>
  <h1>Color: {{bird.color}}</h1>
  <h1>DOB: {{bird.dob}}</h1>
  <h1>Captures: {{bird.captures}}</h1>

  <a href="/"><button class="ui massive button" id="bot-login">Edit Bird</button></a>

  <a href="/"><button class="ui massive button" id="bot-login">Delete Bird</button></a>
  {{!-- <h1>Welcome <br>{{foundBird.name}}</h1> --}}
  {{!-- {{/foreach}} --}}
</div>