<div class="birds">
  {{#each foundBirds}}
    <img class="ui medium circular image" src={{this.profilePic}}>
    {{!-- <h1 hidden>Id: {{this._id}}</h1> --}}
    <h1>Name: {{this.name}} ---- Color: {{this.color}}</h1>
    {{!-- <h1>Color: {{this.color}}</h1> --}}
    {{!-- Change DOB ISODate format--}}
    <h1>DOB: {{this.dob}}</h1>
    <h1>Catches: {{this.catches}}</h1>

    <a href="/birds/edit"><button class="ui massive button" id="bot-login">Edit Bird</button></a>

    <a href="/birds/delete"><button class="ui massive button" id="bot-login">Delete Bird</button></a>
    {{!-- <h1>Welcome <br>{{foundBird.name}}</h1> --}}
  {{/each}}
</div>